{
  "parser": "babel-eslint",

  "extends": ["standard", "prettier", "prettier/standard"],

  "plugins": ["prettier", "standard"],

  "rules": {
    "prettier/prettier": "error"
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
